@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
}

video::cue {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
}
